* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.pre-header .session a {
  color: #FFFFFF;
  text-decoration: none;
}
.pre-header .session .create-user {
  background: linear-gradient(to right, #3454db, #0c107c);
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
  border: none;
}

.depositBtn {
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.1rem 0.4rem;
  text-transform: uppercase;
  background-color: #0c107c;
  border-radius: 5px;
  border: 2px solid #0c107c;
  margin: 0 auto;
}
.depositBtn:hover {
  background-color: #3454db;
  border: 2px solid #3454db;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.buttons .comprar {
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  width: 105px;
  margin: 0 3rem;
  padding: 0.7rem 0;
  background-color: #77DD77;
  border-radius: 5px;
  border: 2px solid #77DD77;
}
.buttons .comprar:active {
  background-color: #36ac36;
  border-color: #36ac36;
}
.buttons .vender {
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  width: 105px;
  margin: 0 3rem;
  padding: 0.7rem 0;
  background-color: #d9140d;
  border-radius: 5px;
  border: 2px solid #d9140d;
}
.buttons .vender:active {
  background-color: #a70600;
  border-color: #a70600;
}

.confirmBtn {
  margin: 0.5rem auto 0;
  width: 60%;
  padding: 0.7rem;
  background-color: #77DD77;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.confirmBtn :active {
  background-color: #5DC460;
}

/* View Home */
.pre-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  height: 1vh;
  margin: 1.5rem auto;
}
.pre-header .logo {
  height: 40px;
  width: auto;
}
.pre-header .session {
  display: flex;
  align-items: center;
}
.pre-header .session a {
  color: #0c107c;
  padding-right: 1rem;
}
.pre-header .session a:nth-child(3) {
  color: #FFFFFF;
}

.cover {
  display: flex;
  margin: 0 auto;
  height: 95vh;
  width: 100vw;
  max-height: 1100px;
}
.cover .container {
  height: 60vh;
}
.cover .container .title-container {
  border-radius: 20px;
  background: linear-gradient(to right, #0c107c, #3454db);
  box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.16);
  padding: 3rem 2rem;
}
.cover .container .title-container h1 {
  color: #FFFFFF;
  font-size: 3rem;
}
.cover .container .title-container .title {
  overflow: hidden;
}
.cover .container .title-container .title .door {
  color: #77DD77;
  font-style: italic;
}
.cover .container .title-container p {
  font-size: 1.5rem;
  font-style: italic;
  color: #77DD77;
}
.cover .container .title-container p .kimura {
  text-transform: uppercase;
  font-weight: 700;
}
.cover .container .banner {
  width: 85%;
  height: auto;
}

.features {
  background-color: #e0edff;
  padding: 2rem;
}
.features h2 {
  margin-bottom: 0.2rem;
}
.features h3 {
  color: #77DD77;
}

.navbar {
  background-color: #0c107c;
}
.navbar .navbar-nav .nav-link {
  color: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.main .sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #3454db;
  height: 100%;
  width: 5%;
  box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.06);
  z-index: 2;
}
.main .page-container {
  background-color: #eff3f6;
  height: 100vh;
  width: 95vw;
}
.main .page-container h1 {
  font-size: 1.5rem;
}
.main .page-container h3 {
  margin-bottom: 0;
}
.main .page-container .disponibilidades {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  line-height: 0.5;
  background-color: #FFFFFF;
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
}
.main .page-container .disponibilidades .balance-items {
  margin-bottom: 1rem;
}
.main .page-container .display-conts {
  display: flex;
  background-color: #FFFFFF;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100px;
  max-height: 250px;
  margin-top: 1rem;
}
.main .page-container .display-conts p {
  text-align: center;
  align-self: center;
  margin: 0 auto;
  opacity: 0.7;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
}
.overlay::before {
  content: "X";
  color: #FAFAFA;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 1rem;
  opacity: 0.9;
}
.overlay .buyModal {
  /* visibility: hidden; */
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  width: 45%;
  min-width: 200px;
  height: fit-content;
  padding: 3rem 2rem;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.overlay .buyModal h2 {
  font-size: 1.5rem;
  text-align: center;
}
.overlay .buyModal .buyModal__Content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.overlay .buyModal .buyModal__Content .form {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.overlay .buyModal .buyModal__Content .form ul {
  padding: 0;
}
.overlay .buyModal .buyModal__Content .form ul li {
  list-style: none;
}
.overlay .buyModal .buyModal__Content .form ul li .inst {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.overlay .buyModal .buyModal__Content .form ul li .inst .selection {
  position: relative;
  z-index: 300;
}
.overlay .buyModal .buyModal__Content .form ul li .inst input {
  width: 92px;
}

.show {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
