* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.overlay,
.dOverlay,
.bOverlay,
.sOverlay,
.wOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100vh;
}
.overlay::before,
.dOverlay::before,
.bOverlay::before,
.sOverlay::before,
.wOverlay::before {
  content: "X";
  color: #FAFAFA;
  font-size: 1.5em;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 1rem;
  opacity: 0.9;
}
.overlay .modal,
.dOverlay .modal,
.bOverlay .modal,
.sOverlay .modal,
.wOverlay .modal {
  /* visibility: hidden; */
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  width: 45%;
  min-width: 200px;
  height: fit-content;
  padding: 3rem 2rem;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.overlay .modal h2,
.dOverlay .modal h2,
.bOverlay .modal h2,
.sOverlay .modal h2,
.wOverlay .modal h2 {
  font-size: 1.5rem;
  text-align: center;
}
.overlay .modal .modal__content,
.dOverlay .modal .modal__content,
.bOverlay .modal .modal__content,
.sOverlay .modal .modal__content,
.wOverlay .modal .modal__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.overlay .modal .modal__content .form,
.dOverlay .modal .modal__content .form,
.bOverlay .modal .modal__content .form,
.sOverlay .modal .modal__content .form,
.wOverlay .modal .modal__content .form {
  display: flex;
  flex-direction: column;
  width: 60%;
}
.overlay .modal .modal__content .form ul,
.dOverlay .modal .modal__content .form ul,
.bOverlay .modal .modal__content .form ul,
.sOverlay .modal .modal__content .form ul,
.wOverlay .modal .modal__content .form ul {
  padding: 0;
}
.overlay .modal .modal__content .form ul li,
.dOverlay .modal .modal__content .form ul li,
.bOverlay .modal .modal__content .form ul li,
.sOverlay .modal .modal__content .form ul li,
.wOverlay .modal .modal__content .form ul li {
  list-style: none;
}
.overlay .modal .modal__content .form ul li .inst,
.dOverlay .modal .modal__content .form ul li .inst,
.bOverlay .modal .modal__content .form ul li .inst,
.sOverlay .modal .modal__content .form ul li .inst,
.wOverlay .modal .modal__content .form ul li .inst {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}
.overlay .modal .modal__content .form ul li .inst .selection,
.dOverlay .modal .modal__content .form ul li .inst .selection,
.bOverlay .modal .modal__content .form ul li .inst .selection,
.sOverlay .modal .modal__content .form ul li .inst .selection,
.wOverlay .modal .modal__content .form ul li .inst .selection {
  position: relative;
  z-index: 300;
}
.overlay .modal .modal__content .form ul li .inst input,
.dOverlay .modal .modal__content .form ul li .inst input,
.bOverlay .modal .modal__content .form ul li .inst input,
.sOverlay .modal .modal__content .form ul li .inst input,
.wOverlay .modal .modal__content .form ul li .inst input {
  width: 92px;
}
.overlay .modal .modal__content .form .wMessage,
.overlay .modal .modal__content .form .buyQtyMessage,
.overlay .modal .modal__content .form .sellQtyMessage,
.overlay .modal .modal__content .form .balanceMessage,
.overlay .modal .modal__content .form .buyMessage,
.overlay .modal .modal__content .form .sellMessage,
.overlay .modal .modal__content .form .noQtyMessage,
.dOverlay .modal .modal__content .form .wMessage,
.dOverlay .modal .modal__content .form .buyQtyMessage,
.dOverlay .modal .modal__content .form .sellQtyMessage,
.dOverlay .modal .modal__content .form .balanceMessage,
.dOverlay .modal .modal__content .form .buyMessage,
.dOverlay .modal .modal__content .form .sellMessage,
.dOverlay .modal .modal__content .form .noQtyMessage,
.bOverlay .modal .modal__content .form .wMessage,
.bOverlay .modal .modal__content .form .buyQtyMessage,
.bOverlay .modal .modal__content .form .sellQtyMessage,
.bOverlay .modal .modal__content .form .balanceMessage,
.bOverlay .modal .modal__content .form .buyMessage,
.bOverlay .modal .modal__content .form .sellMessage,
.bOverlay .modal .modal__content .form .noQtyMessage,
.sOverlay .modal .modal__content .form .wMessage,
.sOverlay .modal .modal__content .form .buyQtyMessage,
.sOverlay .modal .modal__content .form .sellQtyMessage,
.sOverlay .modal .modal__content .form .balanceMessage,
.sOverlay .modal .modal__content .form .buyMessage,
.sOverlay .modal .modal__content .form .sellMessage,
.sOverlay .modal .modal__content .form .noQtyMessage,
.wOverlay .modal .modal__content .form .wMessage,
.wOverlay .modal .modal__content .form .buyQtyMessage,
.wOverlay .modal .modal__content .form .sellQtyMessage,
.wOverlay .modal .modal__content .form .balanceMessage,
.wOverlay .modal .modal__content .form .buyMessage,
.wOverlay .modal .modal__content .form .sellMessage,
.wOverlay .modal .modal__content .form .noQtyMessage {
  display: none;
}

.preHeader .session a {
  color: #FFFFFF;
  text-decoration: none;
}
.preHeader .session .signIn {
  background: linear-gradient(to right, #3454db, #0c107c);
  padding: 0.4rem 0.5rem;
  border-radius: 10px;
  border: none;
}

.btnCont {
  display: flex;
  justify-content: flex-end;
}

.functionBtn,
.nxtBtn {
  color: #FFFFFF;
  font-size: 0.8rem;
  font-weight: 700;
  width: 95px;
  margin: 0.5rem;
  padding: 0.1rem 0.4rem;
  text-transform: uppercase;
  background-color: #0c107c;
  border-radius: 5px;
  border: 2px solid #0c107c;
}
.functionBtn:nth-child(even),
.nxtBtn:nth-child(even) {
  background-color: #77DD77;
  border: 2px solid #77DD77;
}
.functionBtn:nth-child(even):hover,
.nxtBtn:nth-child(even):hover {
  background-color: #36ac36;
  border: 2px solid #36ac36;
}
.functionBtn:hover,
.nxtBtn:hover {
  background-color: #3454db;
  border: 2px solid #3454db;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.buttons .comprar {
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  width: 105px;
  margin: 0 3rem;
  padding: 0.5rem 0;
  background-color: #77DD77;
  border-radius: 5px;
  border: 2px solid #77DD77;
}
.buttons .comprar:active {
  background-color: #36ac36;
  border-color: #36ac36;
}
.buttons .vender {
  color: #FFFFFF;
  font-weight: 700;
  text-transform: uppercase;
  width: 105px;
  margin: 0 3rem;
  padding: 0.5rem 0;
  background-color: #d9140d;
  border-radius: 5px;
  border: 2px solid #d9140d;
}
.buttons .vender:active {
  background-color: #a70600;
  border-color: #a70600;
}

.confirmBtn {
  margin: 0.5rem auto 0;
  padding: 0.7rem;
  background-color: #77DD77;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.confirmBtn :active {
  background-color: #5DC460;
}

/* View Home */
.preHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85vw;
  height: 1vh;
  margin: 1.5rem auto;
}
.preHeader .logo {
  height: 40px;
  width: auto;
}
.preHeader .session {
  display: flex;
  align-items: center;
}
.preHeader .session a {
  color: #0c107c;
  padding-right: 1rem;
}
.preHeader .session a:nth-child(3) {
  color: #FFFFFF;
}

.cover {
  display: flex;
  margin: 0 auto;
  height: 95vh;
  width: 100vw;
  max-height: 1100px;
}
.cover .container {
  height: 60vh;
}
.cover .container .title-container {
  border-radius: 20px;
  background: linear-gradient(to right, #0c107c, #3454db);
  box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.16);
  padding: 3rem 2rem;
}
.cover .container .title-container h1 {
  color: #FFFFFF;
  font-size: 3rem;
}
.cover .container .title-container .title {
  overflow: hidden;
}
.cover .container .title-container .title .door {
  color: #77DD77;
  font-style: italic;
}
.cover .container .title-container p {
  font-size: 1.5rem;
  font-style: italic;
  color: #77DD77;
}
.cover .container .title-container p .kimura {
  text-transform: uppercase;
  font-weight: 700;
}
.cover .container .banner {
  width: 85%;
  height: auto;
}

.features {
  background-color: #e0edff;
  padding: 2rem;
}
.features h2 {
  margin-bottom: 0.2rem;
}
.features h3 {
  color: #77DD77;
}

.form {
  display: flex;
  justify-content: center;
}

.navbar {
  background-color: #0c107c;
}
.navbar .navbar-nav .nav-link {
  color: #FFFFFF;
}

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.main .nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0c107c;
  height: 100%;
  width: 5%;
  min-width: 60px;
  box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.06);
  z-index: 2000;
}
.main .nav .navCategories {
  display: flex;
  flex-direction: column;
}
.main .nav .navCategories .navIcons {
  display: flex;
  align-items: center;
}
.main .nav .navCategories .navIcons a {
  padding: 18px;
  text-decoration: none;
}
.main .nav .navCategories .navIcons a i {
  align-self: center;
}
.main .nav .navCategories .navIcons a .navTitle {
  display: none;
  color: #FFFFFF;
  margin-left: 15px;
}
.main .nav .navCategories .navIcons:hover {
  background-color: #3454db;
}
.main .nav .navButton {
  position: absolute;
  color: white;
  background-color: #0c107c;
  padding: 0.4rem;
  width: 5vw;
  font-size: 2rem;
  border: none;
  bottom: 0;
  right: 0;
}
.main .nav .navButton:hover {
  background-color: #3454db;
}
.main .nav .rotate {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.main .background {
  background-color: #eff3f6;
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}
.main .pageContainer {
  margin-left: 5vw;
  height: 100vh;
  width: 95vw;
}
.main .pageContainer h1 {
  font-size: 1.5rem;
}
.main .pageContainer h3 {
  font-size: 1.2rem;
  margin-top: 0.7rem;
  margin-bottom: 0;
}
.main .pageContainer .availabilities {
  display: flex;
  justify-content: space-between;
  line-height: 0.5;
  background-color: #FFFFFF;
  padding: 1rem 1rem 0 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
}
.main .pageContainer .availabilities p {
  font-size: 1rem;
}
.main .pageContainer .availabilities .balanceItems,
.main .pageContainer .availabilities .amounts {
  display: flex;
  flex-direction: column;
}
.main .pageContainer .availabilities .balanceItems .items,
.main .pageContainer .availabilities .amounts .items {
  display: flex;
  flex: 1;
  padding: 0 0.5rem;
  text-align: center;
  align-items: center;
  min-width: 60px;
}
.main .pageContainer .availabilities .balanceItems .values,
.main .pageContainer .availabilities .amounts .values {
  display: flex;
  flex: 1;
  padding-right: 0.5rem;
  justify-content: flex-end;
  align-items: baseline;
  min-width: 60px;
}
.main .pageContainer .userAvatar {
  width: 52px;
  height: 52px;
  background-color: #FFFFFF;
}
.main .pageContainer .userAvatar .userImg {
  border: 2px solid #e0edff;
  cursor: pointer;
}
.main .pageContainer .actions {
  display: flex;
  color: #FFFFFF;
  justify-content: space-between;
  align-content: center;
  margin-top: 0.5rem;
}
.main .pageContainer .actions p {
  font-weight: bold;
  margin: 0;
  padding: 0.3rem;
  text-align: center;
}
.main .pageContainer .actions .filter,
.main .pageContainer .actions .order {
  display: flex;
  flex-direction: column;
  width: 48%;
  background-color: #0c107c;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}
.main .pageContainer .actions .filter .options,
.main .pageContainer .actions .order .options {
  display: flex;
}
.main .pageContainer .actions .filter .options .actionBtn,
.main .pageContainer .actions .order .options .actionBtn {
  flex: 1;
  text-align: center;
  color: #010101;
  background-color: #FFFFFF;
  border: 1px solid #eff3f6;
  margin: 0;
  padding: 0;
}
.main .pageContainer .actions .filter .options .actionBtn:hover,
.main .pageContainer .actions .order .options .actionBtn:hover {
  border-color: #92a6ff;
}
.main .pageContainer .actions .filter .options .actionBtn:first-child,
.main .pageContainer .actions .order .options .actionBtn:first-child {
  border-radius: 0 0 0 9px;
}
.main .pageContainer .actions .filter .options .actionBtn:last-child,
.main .pageContainer .actions .order .options .actionBtn:last-child {
  border-radius: 0 0 9px 0;
}
.main .pageContainer .historial {
  padding-bottom: 2rem;
}
.main .pageContainer .displayConts {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100px;
  max-height: 250px;
  margin-top: 1rem;
}
.main .pageContainer .displayConts p {
  margin: auto;
  opacity: 0.7;
}
.main .pageContainer .displayConts .header {
  display: flex;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #0c107c;
}
.main .pageContainer .displayConts .header p {
  opacity: 1;
}
.main .pageContainer .displayConts .instRow {
  display: flex;
}
.main .pageContainer .displayConts .instRow p {
  opacity: 1;
}
.main .pageContainer .displayConts .instCol {
  display: flex;
  flex: 1;
  border-right: 1px solid #eff3f6;
  border-bottom: 1px solid #eff3f6;
  justify-content: center;
  align-items: center;
}
.main .pageContWidth {
  width: 85vw;
  margin-left: 15vw;
}
.main .mostrar {
  width: 15vw;
}

.show {
  display: flex;
}

/*# sourceMappingURL=style.css.map */
