.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $blue0;
    height: 100%;
    width: 5%;
    min-width: 60px;
    box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.06);
    z-index: 2000;

    .navCategories {
      display: flex;
      flex-direction: column;

      .navIcons {
        display: flex;
        align-items: center;
          
        a {
          padding: 18px;
          text-decoration: none;

          i {
            align-self: center;
          }
  
          .navTitle {
            display: none;
            color: $white;
            margin-left: 15px;
          }
        }

        &:hover {
          background-color: $blue1;
        }
      }
    }

    .navButton {
      position: absolute;
      color: white;
      background-color: $blue0;
      padding: 0.4rem;
      width: 5vw;
      font-size: 2rem;
      border: none;
      bottom: 0;
      right: 0;
      

      &:hover {
        background-color: $blue1;
      }
    }

    .rotate {
      -webkit-transform: rotateY( 180deg );
      -moz-transform: rotateY( 180deg );
      -o-transform: rotateY( 180deg );
      transform: rotateY( 180deg );
    }
  }

  .background {
    background-color: $gray2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
  .pageContainer {
    margin-left: 5vw;
    height: 100vh;
    width: 95vw;

    h1 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.2rem;
      margin-top: .7rem;
      margin-bottom: 0;
    }

    .availabilities {
      display: flex;
      justify-content: space-between;
      line-height: 0.5;
      background-color: $white;
      padding: 1rem 1rem 0 1rem;
      border-radius: 10px;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);

      p {
        font-size: 1rem;
      }

      .balanceItems,
      .amounts {
        display: flex;
        flex-direction: column;

        .items {
          display: flex;
          flex: 1;
          padding: 0 .5rem;
          text-align: center;
          align-items: center;
          min-width: 60px;
        }

        .values {
          display: flex;
          flex: 1;
          padding-right: 0.5rem;
          justify-content: flex-end;
          align-items: baseline;
          min-width: 60px;

          &::before {
            content: "$";
           
          }
        }
      }
    }

    .userAvatar {
      width: 52px;
      height: 52px;
      background-color: $white;

      .userImg {
        border: 2px solid $blue2;
        cursor: pointer;
      }
    }

    .actions {
      display: flex;
      color: $white;
      justify-content: space-between;
      align-content: center;
      margin-top: 0.5rem;

      p {
        font-weight: bold;
        margin: 0;
        padding: 0.3rem;
        text-align: center;
      }

      .filter,
      .order {
        display: flex;
        flex-direction: column;
        width: 48%;
        background-color: $blue0;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
        border-radius: 10px;

        .options {
          display: flex;

          .actionBtn {
            flex: 1;
            text-align: center;
            color: #010101;
            background-color: $white;
            border: 1px solid $gray2;
            margin: 0;
            padding: 0;

            &:hover {
              border-color: $blue3
            }

            &:first-child {
              border-radius: 0 0 0 9px;
            }

            &:last-child {
              border-radius: 0 0 9px 0;
            }
          }
        }
      }
    }

    .historial {
      padding-bottom: 2rem;
    }

    .displayConts {
      display: flex;
      flex-direction: column;
      background-color: $white;
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
      border-radius: 10px;
      overflow-x: hidden;
      overflow-y: scroll;
      min-height: 100px;
      max-height: 250px;
      margin-top: 1rem;

      p {
        margin: auto;
        opacity: 0.7;
      }

      .header {
        display: flex;
        font-weight: bold;
        color: $white;
        background-color: $blue0;

        p{
          opacity: 1;
        }
      }

      .instRow {
        display: flex;

        p{
          opacity: 1;
        }
      } 

      .instCol {
        display: flex;
        flex: 1;
        border-right: 1px solid $gray2;
        border-bottom: 1px solid $gray2;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .pageContWidth {
    width: 85vw;
    margin-left: 15vw;
  }

  .mostrar{
    width: 15vw;
  }
}

.show {
  display: flex;
}


// .hide {
//   display: none;
// }